fastapi==0.115.12
uvicorn[standard]==0.34.2
SQLAlchemy==2.0.38
psycopg2-binary==2.9.10
python-dotenv==1.1.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
sendgrid==6.12.4
Authlib==1.6.3
python-multipart==0.0.20
requests==2.32.3
dnspython==2.7.0
starlette==0.46.2